<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2 class="headline col-lg-8 col-md-12 col-sm-12 text-center">"<%= current_user.name %>"さんがいいねした一覧</h2>
      <% if @favorite_posts.present? %>
        <%= render 'index', posts: @favorite_posts %>
      <% else %>
        まだ"いいね"した投稿がありません。
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <%= link_to '戻る', :back, class: "btn btn-outline-dark mt-3" %>
    </div>
  </div>
</div>