<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-12">
      <% if user_signed_in? %>
        <%= render 'layouts/sidebar' %>
      <% end %>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
      <h2 class="headline col-lg-6 col-md-7 col-sm-12 text-center">投稿一覧</h2>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>