<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class='col-lg-10 col-md-9 col-sm-6'>
      <h2>フォロワー一覧</h2>
      <% if @users.present? %>
        <%= render 'public/users/index', users: @users %>
      <% else %>
        <p>まだフォロワーがいません。</p>
      <% end %>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>