<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      <%= render 'layouts/sidebar' %>
    </div>
    <h2>フォロワー一覧</h2>
  </div>
  <div class="row">
    <% if @users.present? %>
      <%= render 'public/users/index', users: @users %>
    <% else %>
      <p>まだフォロワーがいません。</p>
    <% end %>
  </div>
  <div class="row">
    <%= link_to 'Back', :back %>
  </div>
</div>