<div class="container">
  <div class="row">
    <div class="mx-auto col-12 mt-5 pt-3">
      <div class="card shadow col-lg-6 col-md-8 col-sm-12 mx-auto py-4">
        <h2 class="headline col-lg-6 col-md-8 col-sm-10 mx-auto text-center">About</h2>
        <div class="text-center">
          <p class="about-text"><b>食べることが好きな人集まれ！！</b></p>
          <p class="about-text"><b>素敵なお食事との出会いを全世界に発信しよう！</b></p>
          <p class="about-text"><b>お食事の情報を投稿するSNSサイトです。</b></p>
          <p class="about-text"><b>投稿にはレビュー機能があるため、</b></p>
          <p class="about-text"><b>気になるお店の情報提供に貢献いたします。</b></p>
        </div>
      </div>
    </div>
  </div>
</div>