@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//画面全体的に下記値でマージンを設ける
.wrapper{
  margin: 60px 10px;
}

footer {
  margin-top: auto;
}

header {
  background-color: #363738;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

//トップページの背景の設定
body.top-body {
  background-image: url("../images/top_image.jpg");
  background-attachment: fixed;
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height:400px;
}

//トップページ以外の背景画像の設定
body.top-except {
  background-image: url("../images/background_image.jpg");
  background-attachment: fixed;
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height:400px;
}

//バリデーションメッセージを赤くするため
#error_explanation {
  color: #f00;
}

//64〜73行目の記述と合わせ、各ページの見出しを装飾
.headline{
font-size: 1.5em;/* フォントサイズ */
font-weight: bold;/* フォント太さ */
padding: 0.5em 1em;
margin-bottom: 2em;
position: relative;
background-color: #f0d8e8;/* 背景色 */
box-shadow: 0px 0px 0px 5px #f0d8e8;
border: dashed 2px #ffffff;/* 破線 */
color:#000000;/* フォント色 */
font-family: 'M PLUS Rounded 1c', sans-serif;
}

.headline:after {
position: absolute;
content: '';
top: -7px;
left: -7px;
border-width: 0 0 20px 20px;
border-style: dashed;
border-color: #fff #fff #dec8d6;
box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

//投稿詳細ページにて投稿フォームで入力した値を字下げして表示するため
.post-detail {
  text-indent: 1em;
}

//ユーザー一覧ページにて、ニックネームと自己紹介文を字下げして表示するため
.users-index {
  text-indent: 1em;
}

//非ログイン時のトップページのテキストを装飾
.top-text {
  text-shadow: 2px  2px 3px #fff,
              -2px  2px 3px #fff,
               2px -2px 3px #fff,
              -2px -2px 3px #fff;
}

//非ログイン時のトップページのスマイルマークが上記94〜98行目の記述で反映しないため個別で対応
.fa-smile {
  filter:drop-shadow(4px 4px 4px #fff);
}

//非ログイン時の「グルメモへようこそ！」の<br>をスマホ幅以外無効化する
//ユーザー一覧画面のフォローボタンの<br>をスマホ幅以外無効化する
//フォロー一覧、フォロワー一覧の<br>をスマホ幅以外無効化する
.br-sp {
  display: none;
}

//入力フォーム必須箇所装飾
label span.required {
  color: #fff;
  background: #f14668;
  font-size: 0.8rem;
  padding: 5px 8px;
  border-radius: 2px;
  margin-left: 8px;
}

//プロフィール画像を線で囲むため
.rounded-circle {
  border: 1px solid #dec8d6;
}

//プロフィール編集画面、プレビュー機能
.edit-img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  background-position: center center;
  border: 1px solid #dec8d6;
}

//新規投稿・編集時、アップロードする画像のプレビューをする
.post-img, .no-post-image{
  width: 350px;
  height: 250px;
  object-fit: cover;
  background-position: center center;
  text-align: center;
  border: 1px solid #dec8d6;
  border-radius: 2%;
}

//スマホ幅の時のみ有効化させたい設定
@media screen and (max-width: 425px) {
  //ユーザー一覧のプロフィール画像を小さくする
  .users-index-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
    border: 1px solid #dec8d6;
  }
  //非ログイン時の「グルメモへようこそ！」の<br>を有効化する
  //ユーザー一覧画面のフォローボタンがスマホ幅だと変なところで改行が入るため<br>を有効化する
  //フォロー一覧、フォロワー一覧の<br>をスマホ幅以外有効かする
  .br-sp {
    display: inline;
  }
  //ユーザー一覧の「自己紹介文」とユーザー側でログインしている際のロゴをスマホ幅の時のみ非表示
  .spview {
    display: none;
  }
  //新規投稿・編集時、アップロードする画像のプレビューをする
  //スマホ幅のみ他の幅よりサイズを下げる
  .post-img, .no-post-image{
    width: 250px;
    height: 170px;
    object-fit: cover;
    background-position: center center;
    text-align: center;
    border: 1px solid #dec8d6;
    border-radius: 2%;
  }
  //スマホ幅の時のみ投稿一覧の星を小さくする
  .index-raty-size{
    img{
      width: 20px;
      height: auto;
    }
  }
}