<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4">
      <%= render 'layouts/sidebar' %>
    </div>
    <h2>ユーザー一覧</h2>
    <%= render 'index', users: @users %>
  </div>
</div>